/* ====================*/
/*BASIC SETUP*/
/* ====================*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;

}
html {
	font-size: 62.5%
  
}

body {
	font-family: 'Titillium Web', sans-serif;
	text-rendering: optimizeLegibility;

}
ul li{
	list-style: none;
}
/* ======HEADER=====*/

h1{
	font-size: 3.2rem;
	color: #ffffff;
	
}

.clearfix::after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

/* ====================*/
/*REUSABLE SETUP*/
/* ====================*/

.row {
	max-width: 114rem;
	margin: 0 auto;
}

section{
	padding: 8rem 0;
}

h2{
	font-size: 4rem;
	text-transform: uppercase;
	letter-spacing: .3rem;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 2rem;
	color: #fff;
	text-align: center;
}
h2::after{
	content: "";
	display: block;
	height: .4rem;
	background: #009999;
	width: 8.6rem;
	margin: 0 auto;
	margin-top: 2.2rem;


}

h3{
	font-size: 2.4rem;
	font-weight: 400;
	
	text-transform: uppercase;
}



.box{
    padding: 1%;
    width: 22.8%;
}
.box p{
	font-size: 1.6rem;
	font-weight: 300;
	margin-top: 3rem;
	color: #fff;
}

/* ======PARAGRAPH ======*/

.little-description{
	font-size: 1.8rem;
	width: 60%;
	text-align: center;
	margin-left: 20%;
	line-height: 3rem;

}

/* ======BUTTON====== */

.btn:link,
.btn:visited, 
.btn {
    background: #333;
    border-bottom: .5rem solid #000;
    color: #fff;
    text-decoration: none;
    padding: 1.5rem 4.0rem;
    display: inline-block;
    border-radius: .5rem;
    margin-top: 6.0rem;
   
}


/* ====================*/
/*HEADER SECTION*/
/* ====================*/
header{

	background: linear-gradient(rgba(135, 80, 156, 0.9),rgba(135, 80, 156, 0.9)), 
	url(img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 85vh;
	position: relative;
	background-attachment: fixed;
}
.logo{
	height: 3.0rem;
    width: auto;
    margin-top: 4.0rem;
    float: left;
}    
.main-nav{
	float: right;
    margin-top: 4.0rem;
    font-size: 1.6rem;
    font-weight: 300;
}
.main-nav li{
	display: inline-block;
	margin-left: 1.5rem;
}
.main-nav li:first-child{
	margin-left: 0;
}
.main-nav li a:link,
.main-nav li a:visited{
	text-decoration: none;
	color: #ffffff;
	background: rgba(100, 58, 121, 0);
	padding: .6rem 1.6rem;
	border-radius: .5rem;
	display: inline-block;
	transition: .5s;
}
.main-nav li:hover a:link,
.main-nav li:hover a:visited{
	background: rgba(100, 58, 121, 1);
}
.active{
	background: rgba(100, 58, 121, 1);
	border-radius: .5rem;
}
.hero-text-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.btn-hero:link,
.btn-hero:visited {
	background: #ff6633;
	border-color: #cc6633;
	font-size: 2.0rem;
}

/* ====================*/
/*SERVICES SECTION*/
/* ====================*/

.services-section{
	color: #fff;
	text-align: center;
	background: linear-gradient(rgba(23, 194, 164, 0.9),rgba(23, 194, 164, 0.9)), 
	url(img/services-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}

.services-icons{
	height: 12.6rem;
	margin-top: 8.4rem;
	margin-bottom: 6.6rem;
}

/* ====================*/
/*TEAM SECTION*/
/* ====================*/

.team-section{
	background: linear-gradient(rgba(231, 241, 248, 0.9),rgba(231, 241, 248, 0.9)),
	url(img/team-bg.jpg);
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.team-section h2{
	color: #3C4761;

}
.team-section h2::after {
	background: #C8D9E5;
}
.team-section .box p{
	color: #3C4761;
	font-size: 1.8rem;

}
.team-member{
	margin-top: 6.5rem;
	margin-bottom: 2.4rem;
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
}
.role{
	font-size: 1.6rem;
	font-weight: 300;
	color: #48C1E9;
	margin-top: .5rem;
	display: inline-block;
}
.social-link{
	margin-top: 2.4rem;
}
.social-link ul li{
	display: inline-block;
	margin: 0.5rem;
}
.social-link ul li a{
	color: #fff;
}
.social-link ul li a:link i::before {
	background: #9BC3EA;
	height: 2rem;
	width: 2rem;	
	border-radius: 50%;
	display: inline-block;
	padding: 1rem;
	font-size: 2rem;
	transition: .5s
}
.social-link ul li a:hover i::before {
	background: #3A6DA5;
	transform: rotate(360deg);
}

/* ====================*/
/*SKIllsS SECTION*/
/* ====================*/


.skill-section{
	color: #3c4761;
	text-align: center;
	background: linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.9)),
	url(img/skill-bg.jpg);
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.skill-section h2{
	color: #3C4761;
}
.skill-section h2::after{
	background: #dfe8ed;
}
.skill-section .box{
	margin-top: 4.5rem;
}
svg.radial-progress circle{
	stroke-width: 5;
}
svg.radial-progress text{
	fill: #3C4761;
	font-size: 2rem;
	
}
svg.web-design circle{
	stroke: #30BAE7;
}
svg.html-css circle{
	stroke: #D74680;
}
svg.graphic-design circle{
	stroke: #15C7A8;
}
svg.ui-ux circle{
	stroke: #EB7D4B;
}


/* ====================*/
/*PORTFOLIO SECTION*/
/* ====================*/

.portfolio-section{
	background: linear-gradient(rgba(255, 221, 153, 0.9),rgba(255, 221, 153, 0.9)),
	url(img/portfolio-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	text-align: center;
}
.portfolio-section h2{
	color: #393939;
}
.portfolio-section h2::after{
	color: #E5C37F;
}
.portfolio-filter{
	margin: 4.5rem;
}
.portfolio-filter button{
	background: #EBC985;
	font-size: 1.8rem;
	font-weight: 400;
	padding: 1rem 2rem;
	border: 0;
	margin-left: 1rem;
	transition: .5s
	color: #393939;
	border-radius: .5rem;
}
.portfolio-filter button:hover{
	cursor: pointer;
	box-shadow: inset 0 .5rem .5rem rgba(60, 71, 97, 0.5);
}
.portfolio-filter button:nth-child(1) {
	background: #fff;
}
.portfolio-image{
	width: 100%;

}
.span_1_of_2{
	width: 49.2%;
}
.span_1_of_2:nth-child(4){
	margin-left: 0;
}
.span_1_of_2:nth-child(3){
	margin-top: 3rem;
}
.span_1_of_2:nth-child(4){
	margin-top: 3rem;
}
h4{
	margin-top: 2rem;
	font-size: 1.8rem;
	font-weight: 400;
	color: #393939;
}
.portfolio-section .btn-hero{
	background: #17C2A4;
	border-color: #14A58C;
	font-size: 1.8;
	font-weight: 600;
}


/* ====================*/
/*TESTIMONEAL SECTION*/
/* ====================*/

.testimonial{
	background: linear-gradient(rgba(215, 70, 128, 0.9),rgba(215, 70, 128, 0.9)),
	url(img/testimonial-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
}
.testimonial h2{
	color: #fff;
	font-size: 4rem;
}
.testimonial h2::after{
	background: : #B73C6D;
}
.testimonial .little-description{
	text-align: center;
	color: #fff;
}
.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2){
	margin-top: 4rem;
}
.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4){
	margin-top: 8rem;
}
.client-photo{
	width: 10rem;
	float: left;
}
.client-photo img{
	height: 8rem;
	border-radius: 50%;
	margin-bottom: 3rem;
}
.client-review{
	width: 30rem;
	float: left;
}
.client-review p{
	font-size: 2.1rem;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 2rem;
	color: #fff;
}
.client-review .role{
	color: #ffdd99;
}
.client-review h3{
	color: #fff;
	font-size: 2.4rem;
	font-weight: 400;
}

/* ====================*/
/*CONTACT SECTION*/
/* ====================*/

.contact-setion{
	background: linear-gradient(rgba(60, 84, 153, 0.9),rgba(60, 84, 153, 0.9)),
	url(img/contact-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	
}
.contact-setion p{
	color: #fff;
}
.contact-section h2::after{
	background: #dfe8ed;
}
form{
	margin-top: 5rem;
	width: 70%;
	margin-left: 15%;
}
 input[type="text"]{
	background: #273A71;
	border: none;
	border-bottom: .3rem solid #273A71;
	width: 100%;
	border-radius: .5rem;
	padding: 1.5rem;
	font-size: 1.8rem;
	color: #fff;
	margin-bottom: 2rem;
}
 input[type="email"]{
	background: #273A71;
	border: none;
	border-bottom: .3rem solid #273A71;
	width: 100%;
	border-radius: .5rem;
	padding: 1.5rem;
	font-size: 1.8rem;
	color: #fff;
}
 textarea{
	background: #273A71;
	border: none;
	border-bottom: .3rem solid #273A71;
	width: 100%;
	border-radius: .5rem;
	padding: 1.5rem;
	font-size: 1.8rem;
	color: #fff;
}
.btn{
	color: #fff;
	font-size: 1.8rem;
	background: #33ccff;
	border: none;
	border-bottom: .5rem solid #3399cc;
	border-radius: .5rem;

}

/* ====================*/
/*FOOTER SECTION*/
/* ====================*/

.footer-section{
	background: #333399;
	text-align: center;
	padding: 3rem 0;
	border-top: .1rem solid rgba(240, 240, 240, 0.3);

}
.footer-section li{
	display: inline-block;
	margin: 0 3rem;
	font-size: 2.4rem;
	font-weight: 600;
}
.footer-section li a{
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
}
.footer-section li:hover a{
	color: #30BAE7;
}

